RAPIDAPI_HOST="network-as-code.nokia.rapidapi.com"
RAPIDAPI_KEY=
GROQ_API_KEY=
RESPONSE_AGENT_MODEL="openai/gpt-oss-20b"
GROQ_MODEL= "openai/gpt-oss-20b"
WEBHOOK_URL=
CONGESTION_NOTIFICATION_URL = "https://example.com/notifications"
CONGESTION_NOTIFICATION_AUTH_TOKEN =
REDIS_HOST="localhost"
REDIS_PORT=6380