pydantic>=2.5.0
requests>=2.31.0
pytest>=8.0.0
pytest-mock>=3.14.0
fastapi 
uvicorn 
network_as_code
twilio
langchain-groq
python-dotenv
mistralai
sqlalchemy
pydantic-settings
geoalchemy2
scikit-learn>=1.3
numpy>=1.24
openai>=1.0
pandas
redis 

psycopg2-binary
alembic
psycopg
shapely
httpx

langchain
langgraph